*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3Dn_OFcMxgMwS5Lu9OWoYFBPyJC-zFg5Dyw&s)center/cover no-repeat;
}

.container{
    width: 1140px;
    padding: 50px;
}

.container ol li{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
}
.container h2{
    font-size: 35px;
}
.container p span{
    font-weight: 700;
}
.container p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}